body {
    background: rgb(204,204,204);
    font-family: 'Lato', sans-serif;
}

page {
    font-family: 'Lato', sans-serif;
    background: white;
    display: block;
    margin: 0 auto 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}

@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }
}

.head {
    height: 20%;
    display: block;
}

#photo {
    border-radius: 15%;
    margin: 20px 20px;
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0);
    alignment: left;
}

.data {
    display: inline-block;
    width: 45%;
}

.details {
    display: inline-block;
}

.section {
    max-width: 65%;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px solid #c2c8d1;
}
